@import '../Variable.scss';

.form{
    &-container{
        padding : 40px;
        width: 100%;
        max-width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        & button {
                background-color: $primary;
                color: $white;
                padding: 6px;
                border: none;
                border-radius: 4px;
                width : 65%;
                height: 45px;
                

            }
         & .box-container{
           display: flex;
           padding-bottom: 10px;
           height: 200px;
           margin-bottom: 20px;
           margin-top: 0px;
           

           & .box{
            border: 2px solid $secondary;
            border-radius: 8px;
            padding-top: 12px;
            padding-left: 14px;
            padding-bottom: 2px;
            margin: 14px ;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            width: 170px;
            height: 180px;

            &:hover {
                    border: 2px solid $primary;
                }

            & .box-heading{
                
                font-weight: bold;
                padding-bottom: 8px;
                padding-top: 15px;
                
                
            }
             & .box-content{
                
                color: $grey;
                padding-bottom: 5px;
                padding-top: 15px;
            }
           }
          
         }

    }

    &-input{
        display: flex;
        flex-direction: column;
        width: 62%;
        & input{
            margin-top: 10px;
            margin-bottom: 20px;
            border: 2px solid $secondary;
            border-radius: 4px;
            padding: 10px;
            width: 100%;
            height: 52px;
            
        }

        & label{
            
            

            & span{
                color: $grey;
            }
        }

        & .workspace-url-base{
            height: 52px;
            border: 2px solid $secondary;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px;
            background-color: $secondary;
            color: $grey;
            border-top-left-radius : 4px ;
            border-bottom-left-radius: 4px;
        }

        & .workspace-url-container{
            display: flex;
            margin-top: 10px;
            

            & input{
                margin-top: 0px ;
                border-top-left-radius: 0px;
                border-bottom-left-radius: 0px;
            }
        }

    }



   
}